h1, ._h1{
    font-size: 70px;
}
@media (max-width: 1199px) {
    h1, ._h1{
        font-size: 60px;
    }
}
@media (max-width: 767px) {
    h1, ._h1{
        font-size: 37px;
    }
}


.feedback-link__wrap{
  display: flex;
  gap: 24px;
  position: relative;
  width: 100%;
  margin-left: auto;
}
.feedback-link__wrap .decor{
    position: absolute;
    width: 70px;
    height: 70px;
    display: inline-block;
    border: solid 1px var(--piruz);
}
.feedback-link__wrap .decor._decor-tl{
    top: -12px;
    left: -12px;
}
.feedback-link__wrap .decor._decor-br{
    bottom: 12px;
    right: -12px;
}
.feedback-link__name {
    display: flex;
}
.feedback-link__name img{
    min-width: 92px;
}
.feedback-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 10px;
  min-width: 200px;
  max-width: 312px;
  min-height: 212px;
  font-weight: 600;
  font-size: 44px;
  border: solid 1px #fff;
  color: var(--txt-color);
  position: relative;
  z-index: 1;
}
.feedback-link:first-of-type{
    width: 100%;
}
.feedback-link:hover{
  border-color: var(--piruz);
}
.feedback-link__stars{
  display: flex;
  gap: 4px;
}
@media (max-width: 1199px) {
    .feedback-link__wrap{
        width: fit-content;
        margin-left: 0;
        margin-top: 15px;
    }
    .feedback-link:first-of-type{
        min-width: 326px;
    }
}
@media (max-width: 767px) {
  .feedback-link__wrap{
    gap: 18px;
    justify-content: center;
    width: 100%;
    margin-top:  0px;
  }
  .feedback-link__wrap .decor{
    display: none;
  }
  .feedback-link{
    width: 100%;
    min-height: auto;
    max-width: 50%!important;
    min-width: auto!important;
    font-size: 32px;
  }
   
}


.letter-item{
  position: relative;
  margin-bottom: 50px;
}
.letter-item__img{
  width: 100%;
  border-radius: 8px;
  border: solid 1px transparent;
  transition: 0.3s;
}
.letter-item:hover .letter-item__img{
  border-color: var(--piruz);
}
.letter-item__decor{
  position: absolute;
  z-index: -1;
  border: solid 1px var(--piruz);
  width: 100%;
}
.letter-item__decor.decor-tc{
  top: 15%;
  width: calc(100% + 24px);
  height: 51%;
  left: -12px;
  right: 0;
  margin: auto;
}
.letter-item__decor.decor-br{
  bottom: -12px;
  right: -12px;
  width: 43%;
  height: 18%;
}
.letter-item__quote{
  position: absolute;
  width: 45px;
  height: 43px;
  background-image: url('data:image/svg+xml,<svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_83_720)"><path d="M3.625 42.375L1.6875 40.25C3.10417 39 4.47917 37.6667 5.8125 36.25C7.10417 34.8333 8.3125 33.3958 9.4375 31.9375C10.5208 30.5208 11.5 29.1042 12.375 27.6875C13.25 26.2708 13.9792 24.9167 14.5625 23.625C15.3958 21.75 15.8125 19.7292 15.8125 17.5625C15.8125 15.5208 14.0625 14.5 10.5625 14.5C8.6875 14.5 7.0625 14 5.6875 13C4.3125 12.0417 3.625 10.4583 3.625 8.25C3.625 7.125 3.8125 6.10417 4.1875 5.1875C4.5625 4.27083 5.08333 3.47917 5.75 2.8125C6.41667 2.1875 7.1875 1.6875 8.0625 1.3125C8.89583 0.9375 9.8125 0.75 10.8125 0.75C14.3125 0.75 16.8333 1.83333 18.375 4C20 6.20833 20.8125 8.85417 20.8125 11.9375C20.8125 16.3958 19.2917 21.3333 16.25 26.75C14.7083 29.5 12.9167 32.1667 10.875 34.75C8.79167 37.3333 6.375 39.875 3.625 42.375ZM26.875 42.375L24.9375 40.25C26.3542 39 27.7292 37.6667 29.0625 36.25C30.3542 34.8333 31.5625 33.3958 32.6875 31.9375C33.7708 30.5208 34.75 29.1042 35.625 27.6875C36.5 26.2708 37.2292 24.9167 37.8125 23.625C38.6458 21.75 39.0625 19.7292 39.0625 17.5625C39.0625 15.5208 37.3125 14.5 33.8125 14.5C31.9375 14.5 30.3125 14 28.9375 13C27.5625 12.0417 26.875 10.4583 26.875 8.25C26.875 7.125 27.0625 6.10417 27.4375 5.1875C27.8125 4.27083 28.3333 3.47917 29 2.8125C29.6667 2.1875 30.4375 1.6875 31.3125 1.3125C32.1458 0.9375 33.0625 0.75 34.0625 0.75C37.5625 0.75 40.0833 1.83333 41.625 4C43.25 6.20833 44.0625 8.85417 44.0625 11.9375C44.0625 16.3958 42.5417 21.3333 39.5 26.75C37.9583 29.5 36.1667 32.1667 34.125 34.75C32.0417 37.3333 29.625 39.875 26.875 42.375Z" fill="%23DDDDDD"/></g><defs><clipPath id="clip0_83_720"><rect width="45" height="43" fill="white"/></clipPath></defs></svg>');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.letter-item__quote.quote-lb{
  transform: rotate(180deg);
  bottom: -30px;
  left: 23px;
}
.letter-item__quote.quote-tr{
  top: -20px;
  right: 23px;
}
@media (max-width: 991px) {
  .letter-item__decor.decor-tc{
    width: 50%;
    right: auto;
    top: auto;
    bottom: -12px;
  }
  .letter-item__decor.decor-br{
    width: 24%;
    height: 34%;
  }
}


.sc-leaveFeedback ._form{
  border: 1px solid #D9D9D9;
  border-radius: 24px;
  overflow: hidden;
}
.leaveFeedback-img__wrap{
  max-width: 502px;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  min-height: 140px;
}
.leaveFeedback-img{
  border: 1px solid #D9D9D9;
  box-shadow: 0px 30px 60px rgba(38, 51, 77, 0.05);
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 1199px) {
  .leaveFeedback-img__wrap{
    max-width: 100%;
    height: auto;
    min-height: auto;
    padding-top: 100%;
    margin-bottom: 15px;
  }
  
}
@media (max-width: 767px) {
  .leaveFeedback-img__wrap{
    padding-top: 90%;
  }
  .leaveFeedback-img{
    object-position: center;
  }
}


.feedbackList-item__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 78px 24px;
}
.feedbackList-item{
    width: calc(50% - 12px);
    padding: 32px;
    background-color: #fff;
    border-radius: 24px;
    transition: 0.3s;
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.feedbackList-item:before, .feedbackList-item::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 43px;
    background-image: url('data:image/svg+xml,<svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_83_720)"><path d="M3.625 42.375L1.6875 40.25C3.10417 39 4.47917 37.6667 5.8125 36.25C7.10417 34.8333 8.3125 33.3958 9.4375 31.9375C10.5208 30.5208 11.5 29.1042 12.375 27.6875C13.25 26.2708 13.9792 24.9167 14.5625 23.625C15.3958 21.75 15.8125 19.7292 15.8125 17.5625C15.8125 15.5208 14.0625 14.5 10.5625 14.5C8.6875 14.5 7.0625 14 5.6875 13C4.3125 12.0417 3.625 10.4583 3.625 8.25C3.625 7.125 3.8125 6.10417 4.1875 5.1875C4.5625 4.27083 5.08333 3.47917 5.75 2.8125C6.41667 2.1875 7.1875 1.6875 8.0625 1.3125C8.89583 0.9375 9.8125 0.75 10.8125 0.75C14.3125 0.75 16.8333 1.83333 18.375 4C20 6.20833 20.8125 8.85417 20.8125 11.9375C20.8125 16.3958 19.2917 21.3333 16.25 26.75C14.7083 29.5 12.9167 32.1667 10.875 34.75C8.79167 37.3333 6.375 39.875 3.625 42.375ZM26.875 42.375L24.9375 40.25C26.3542 39 27.7292 37.6667 29.0625 36.25C30.3542 34.8333 31.5625 33.3958 32.6875 31.9375C33.7708 30.5208 34.75 29.1042 35.625 27.6875C36.5 26.2708 37.2292 24.9167 37.8125 23.625C38.6458 21.75 39.0625 19.7292 39.0625 17.5625C39.0625 15.5208 37.3125 14.5 33.8125 14.5C31.9375 14.5 30.3125 14 28.9375 13C27.5625 12.0417 26.875 10.4583 26.875 8.25C26.875 7.125 27.0625 6.10417 27.4375 5.1875C27.8125 4.27083 28.3333 3.47917 29 2.8125C29.6667 2.1875 30.4375 1.6875 31.3125 1.3125C32.1458 0.9375 33.0625 0.75 34.0625 0.75C37.5625 0.75 40.0833 1.83333 41.625 4C43.25 6.20833 44.0625 8.85417 44.0625 11.9375C44.0625 16.3958 42.5417 21.3333 39.5 26.75C37.9583 29.5 36.1667 32.1667 34.125 34.75C32.0417 37.3333 29.625 39.875 26.875 42.375Z" fill="%23DDDDDD"/></g><defs><clipPath id="clip0_83_720"><rect width="45" height="43" fill="white"/></clipPath></defs></svg>');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    z-index: 1;
}
.feedbackList-item:before {
    left: 43px;
    bottom: -30px;
    transform: rotate(180deg);
}
.feedbackList-item::after {
    right: 43px;
    top: -17px;
}
.feedbackList-item:nth-child(4n + 2)::after{
    display: block;
}
.feedbackList-item:nth-child(4n + 3):before {
    display: block;
}
.feedbackList-item._h-100{
    height: 100%;
}
.feedbackList-item ._decor-box{
    border: solid 1px var(--piruz);
    position: absolute;
    z-index: -1;
    max-height: 185px;
}
.feedbackList-item ._decor-box._decor-tl{
    height: 43%;
    width: 30%;
    left: -22px;
    top: 32px;
}
.feedbackList-item ._decor-box._decor-br{
    height: 43%;
    max-height: 185px;
    width: 30%;
    right: -22px;
    bottom: 32px;
}
.feedbackList-item:hover{
    border-color: var(--piruz);
}
.feedbackList-item__name{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.feedbackList-item__txt{
    font-size: 13px;
}
.feedbackList-item__content{
    line-height: 170%;
    padding-top: 15px;
}
.feedbackList-item ._decor-line{
    height: 1px;
    background-image: linear-gradient(to right, #D4D4D4 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    margin: 20px 0;
}
.feedbackList-img{
    border-radius: 4px;
    margin-top: 24px;
}
._blog-pagination{
    margin-top: 60px;
    margin-bottom: 80px;
}
@media (max-width: 1199px) {
    .feedbackList-item__wrap{
        gap: 32px;
    }
    .feedbackList-item{
        width: 100%;
        padding: 24px;
    }
    ._blog-pagination{
        margin-top: 44px;
    }
}
@media (max-width: 576px) {
    .feedbackList-item ._decor-box{
        display: none;
    }
    .feedbackList-item__wrap{
        gap: 18px;
    }
    .feedbackList-item{
        border-radius: 8px;
    }
    .feedbackList-item:before {
        left: 7px;
        bottom: -13px;
        width: 33px;
        height: 29px;
    }
    .feedbackList-item::after {
       right: 7px;
        top: -13px;
        width: 33px;
        height: 29px;
    }
      ._blog-pagination{
        margin-bottom: 50px;
    }
}