/* banner  */
.sc-banner{
  position: relative;
  overflow: hidden;
  background-color: #F2F4F8;
  background-image: url(../../img/lines-bg.webp);
}
.sc-banner:before{
    content: '';
    position: absolute;
    width: 44.5%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--piruz);
    opacity: 0.15;
    clip-path: polygon(73% 0, 100% 0, 100% 100%, 0 100%);
}
.banner-info__wrap{
    padding-top: 78px;
    padding-bottom: 78px;
}
.banner-info{
  max-width: 833px;
  z-index: 1;
  position: relative;
}
.banner-bottom__wrap{
  display: inline-block;
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1105px;
  padding: 40px 52px 40px 0px;
  gap: 52px;
  min-height: 265px;
  background-color: #fbfbfb;
}
.banner-bottom__wrap:before{
  content: "";
  position: absolute;
  background-color: #fbfbfb;
  top: 0;
  left: 0;
  height: 100%;
  width: 302px;
  left: -300px;
  z-index: -1;
}
.banner-consult__wrap{
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 35px;
}
.banner-consult__master {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    flex-shrink: 0;
}
.banner-consult__master:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px var(--piruz);
    border-radius: 100%;
    animation: wavePulse linear 1.5s infinite;
}
.banner-consult__master::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px var(--piruz);
    border-radius: 100%;
    animation: wavePulse linear 1.5s infinite;
    animation-delay: 0.8s;
}
@keyframes wavePulse {

    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
    
}
.banner-consult__master img{
    border-radius: 100%;
    border: solid 1px #fff;
}
.banner-consult__title{
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
}
.banner-consult__txt{
    font-size: 18px;
    color: #868686;
}
.banner-call__wrap{
  padding-top: 35px;
  width: 100%;
  max-width: 832px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 24px;
}
.banner-call__btn{
  width: calc(50% - 12px);
}
.banner-img{
  position: absolute;
  top: 4%;
  left: 62%;
  max-width: 619px;
  width: 100%;
  height: fit-content;
}
.banner-img:before{
content: "";
position: absolute;
bottom: 20px;
left: 0;
right: 0;
margin: auto;
width: 80%;
height: 111px;
background: rgba(9, 57, 59, 0.30);
filter: blur(53.75px);
transform: rotate(-8.39deg);
}
.banner-img img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}
.banner-plus__wrap{
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    gap: 38px 0px;
}
.banner-plus__item{
  width: 50%;
  position: relative;
  padding-left: 62px;
}
.banner-plus__item .icon{
  font-size: 38px;
  margin-bottom: 24px;
  display: inline-block;
  transition: 0.3s;
  position: absolute;
  top: 4px;
  left: 0;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-plus__item-title{
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #464646;
}
.banner-plus__item p{
  font-weight: 400;
  font-size: 16px;
  color: #909090;
  margin-bottom: 0;
}
.banner-plus__item:nth-of-type(odd):hover .icon{
  color: rgba(255, 87, 34, 1);
}
.banner-plus__item:nth-of-type(even):hover .icon{
  color: var(--piruz);
}
.banner-next__sc-btn{
  position: absolute;
  bottom: 108px;
  left: 63px;
  z-index: 5;
  font-weight: 400;
  font-size: 18px;
  color: #909090;
  writing-mode: sideways-lr;
}
.banner-next__sc-btn:hover,
.banner-next__sc-btn:hover .icon:before{
  color: var(--piruz);
}
.banner-next__sc-btn .icon{
  transform: rotate(-180deg);
    display: inline-block;
    font-size: 8px;
    margin-top: 11px;
}
.banner-next__sc-btn .icon,
.banner-next__sc-btn .icon:before{
  color: #909090;
  transition: 0.3s;
}
@media (max-width: 1560px) {
  .banner-next__sc-btn{
    left: 20px;
  }
}
@media (max-width: 1379px) {
    .banner-info {
    max-width: 671px;
    }
    .banner-img{
      max-width: 480px;
    }
}
@media (max-width: 1199px) {
  .sc-banner:before{
        clip-path: polygon(66% 0, 100% 0, 100% 100%, 0 100%);
        width: 49%;
  }
  .banner-info {
    max-width: 514px;
  }
  .banner-info__wrap{
    padding-top: 39px;
    padding-bottom: 39px;
  }
  .banner-call__btn{
    min-width: 324px;
  }
  .banner-plus__item {
    width: 100%;
  }
  .banner-plus__item-title{
    font-size: 16px;
  }
  .banner-plus__item p{
    font-size: 13px;
  }
  .banner-img{
    top: 24%;
    left: auto;
    right: 30px;
  }
  .banner-bottom__wrap{
    padding-top: 24px;
    padding-bottom: 24px;
    min-height: 217px;
  }
  .banner-consult__wrap{
    gap: 30px;
  }
  .banner-consult__master{
    width: 52px;
    height: 52px;
  }
  .banner-consult__title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .banner-consult__txt{
    font-size: 16px;
  }
  .banner-call__wrap{
    padding-top: 20px;
  }

}
@media (max-width: 991px) {
  .banner-info{
    max-width: 100%;
  }
  .banner-call__btn{
    min-width: 100%;
  }
  .banner-next__sc-btn{
    display: none;
  }
  .banner-bottom__wrap:before{
    display: none;
  }
  .banner-bottom__wrap{
    padding: 16px 100px;
  }
  .banner-bottom__wrap{
    width: calc(100% + 200px);
    margin-left: -100px;
  }
  .banner-img{
    max-width: 275px;
    top: 40%;
  }
}
@media (max-width: 767px) {
  .sc-banner{
    overflow: hidden;
  }
  .sc-banner:before{
    display: none;
  }
  .banner-info__wrap{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .banner-img{
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    margin-bottom: -20px;
    z-index: 1;
    text-align: center;
  }
  .banner-img img{
    max-width: 275px;
  }
  .banner-img:before{
    opacity: 0.5;
  }
  .banner-img::after{
    content: "";
    position: absolute;
    right: 0;
    left: -15px;
    max-height: 167px;
    height: 100%;
    width: calc( 100% + 30px);
    bottom: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--piruz);
    opacity: 0.15;
    z-index: -1;
  }
  .banner-plus__wrap{
    gap: 28px 0px;
    padding-top: 15px;
  }
}
@media (max-width: 576px) {
  .banner-bottom__wrap{
    padding: 16px 20px;
    width: calc(100% + 40px);
    margin-left: -20px;
    min-height: auto;
  }
}

/* модели  */
.models-wrap {
  display: grid;
  gap: 24px;
  align-items: flex-start;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  overflow: hidden;
}
.model-item {
  background: #fff;
  border: solid 2px #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 11px 22px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  min-height: 74px;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  color: var(--txt-color);
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.model-item:hover{
 border-color: #00ADB5;
}
@media (max-width: 1199px) {
  .models-wrap{
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .model-item{
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .models-wrap{
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
  }
}